
#artikelhero {
    background-image: url("../images/lowpresshistoriephone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   width: 100%;
   height: 350px;
}

#h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SarpanchBold;
    color: white;
    text-transform: uppercase;
    margin-bottom: -20px;
}

#h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    padding: 0 20rem;
}