.maincontainer{
    width: 1000px;
    margin: 0 auto;
}

.foreground{
    z-index: 10;
}

@media only screen and (max-width: 1030px){
    .maincontainer{
        overflow: hidden;
        width: 90%;
    }

    .upSeg{
        flex-direction: column !important;
    }

    #upConclusion p{
        width: 100% !important;
        height: auto !important;
    }
}

#texture{
    position: absolute;
    height: 380vh;
    width: 110vw;
    background-image: url("../images/asfalt-light.png"); /*Image obtained from: https://www.transparenttextures.com/*/

}

.pageDivider{
    width: 110vw;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.pageDivider img{
    height: 1232px;
    margin-top: -500px;
}

#hero{
    height: 522px;
}

#colSelect{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.colActive{
    font-family: SarpanchMedium;
    font-size: 16px;
    line-height: 117.5%;
    /* or 12px */

    text-align: center;
    letter-spacing: 0.055em;

    color: #EECDDF;
}

.colDeactive{
    font-family: SarpanchMedium;
    font-size: 16px;
    line-height: 117.5%;
    /* or 12px */

    text-align: center;
    letter-spacing: 0.055em;

    color: #EECDDF;
    opacity: 60%;
    transition: all 0.15s ease-in-out;
}

.colDeactive:hover{
    opacity: 100%;
    transition: all 0.15s ease-in-out;
}

.colHero{
    position: relative;
    height: 573px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colHero button{
    height: 200px;
    padding: 0;
    border: none;
    background: none;
    transition: all 0.1s ease-in-out;
    opacity: 100%;
    margin-top: 90px;
    margin-right: -251px;
}

.colHero button:hover{
    opacity: 70%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    
}

.colHero button img{
    height: 100%;
}

.hero-back{
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.hero-front{
    position: absolute;
    margin-right: 234px;
    height: 500px;
}

#upcycling{
    height: 100%;
    background-color: #EECDDF;
    margin-top: -120px;
    padding-top: 156px;
}

#upcycling h1{
    font-family: SarpanchExtraBold;
    font-size: 48px;
    line-height: 64.5%;
    /* or 58px */

    letter-spacing: 0.055em;
    text-transform: capitalize;

    color: #1E1F2C;

}

#upSegments{
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 32px 0px 0px 0px;
}

.upSeg{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upSeg p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #1E1F2C;

}

.upSeg img{
    height: 245px;
}

#upConclusion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upConclusion p{
    width: 745.6px;
    height: 90px;

    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #1E1F2C;
}

#upConclusion img{
    width: 315px;
}